@{
    ViewBag.Title = "Sobre nós";
}
<div class="w3ls-titles text-center mb-5">
    <h3 class="title">.</h3>
</div>
<div class="w3ls-titles text-center mb-5">
    <h3 class="title">Sobre nós.</h3>
</div>

<p>Prontuários são utilizados por médicos para fazerem descrições de avaliação dos pacientes, no entanto esse método normalmente é feito manuscrito. Neste site temos como intuito de conectar a saúde com a tecnologia, fazendo assim com que nossos profissionais tenham mais facilidade para obter informações sobre nossos pacientes de forma rápida e prática, além de contribuir para a sustentabilidade do planeta.</p>
